{% extends 'base.html' %}
{% block body %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-6">
        <label for="exampleFormControlInput1" class="form-label">Enter movie name:</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="name">
    </div>
    <div class="mb-6">
        <label for="exampleFormControlTextarea1" class="form-label">Enter Movie Description</label>
        <input class="form-control" id="exampleFormControlTextarea1" name="desc">
    </div>
    <div class="mb-6">
        <label for="exampleFormControlInput1" class="form-label">Enter Year of Release</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" name="year" >
    </div>
    <div class="mb-6">
        <input type="file" class="form-control" name="img" >
    </div>
    <div class="mb-6">
        <button type="submit" class="btn btn-info mx-5">Submit</button>
    </div>
</form>
{% endblock %}
